# Computer Programming and Software Development Introduction 4: Variables and Types
#### Notebook by: michael.ferrie@edinburghcollege.ac.uk
#### Edinburgh College, Sep 2021

# Part 1 - Variables and Types

<div class="alert alert-block alert-danger">
    <b>Note:</b> Make sure you run every cell, click on the cell and press <b>CTRL+ENTER</b>
</div>

### Variables

Variables are used to store information to be referenced and manipulated in a computer program. They also provide a way of labeling data with a descriptive name, so our programs can be understood more clearly by the reader and ourselves. It is helpful to think of variables as containers that hold information. Their sole purpose is to label and store data in memory. This data can then be used throughout your program.

Naming variables is known as one of the most difficult tasks in computer programming. When you are naming variables, think hard about the names. Try your best to make sure that the name you assign your variable is accurately descriptive and understandable to another reader. Sometimes that other reader is yourself when you revisit a program that you wrote months or even years earlier. Think of the variable as a box in the computer memory that you can store things in and also label.

In python a variable is created using the assignment operator `=` the name of the variable is specified followed by the value you want to set. Because the equals sign `=` is reserved for variable assignment, to use an equals you type `==`.

#### Variable Assignment Examples

` my_variable = 3 `

` my_second_variable = 4 `

` my_third_variable = “hello” `


### Data Types

In programming, data type is an important concept. All variables have a data type, python is a dynamically typed language - which means you can change the type of a variable. Variables can store data of different types, and different types can do different things.

In this course we will look at the following Python data types that are built-in to the language by default, in these categories:

* Strings - these are strings of characters, single characters or even full sentences, you set a variable to be a string by enclosing it in quotes the string is abbreviated to `str` in python:

` x = "Hello World"	str	`

* Numbers are called integers and python abbreviates this to `int`, to create an integer just type the variable name then a number:

` x = 20	int	`

* Another numeric type is a float. This is a number with a decimal point, americans call the decimal point a floating point so this is where that name comes from.

` x = 20.5	float `

* A final numeric type is a boolean, this is a type that is either true or false python writes these as True or False:

` x = True	bool `


#### Checking data types with the type function

If we want to determine the type of an object in python, we can use the `type()` function, we need to nest a value inside the parenthesis, this will pass it to the fucntion that preceeds it.

` my_variable = 5 `

`type(my_variable)`

#### Run the examples in the following cells to see these concepts in action

In [ ]:
# assigning variables - run this cell to add these variables to the computers memory
my_string = "this is a string"
my_integer = 10
my_bool = True
my_float = 6.3

In [ ]:
# print out the values stored in the variables
print (my_string)

In [ ]:
# print out the values stored in the variables
print (my_integer)

In [ ]:
# print out the values stored in the variables
print (my_bool)

In [ ]:
# print out the values stored in the variables
print (my_float)

In [ ]:
# check and print the data type of each
print(type(my_string))

In [ ]:
# check and print the data type of each
print(type(my_integer))

In [ ]:
# check and print the data type of each
print(type(my_bool))

In [ ]:
# check and print the data type of each
print(type(my_float))

# Part 2 - Questions
<div class="alert alert-block alert-success">
<b>How to answer: </b> Add your code to the code cell below each question.
</div>

1 Create and then print the following variables: my_number = 5, float_number = 5.5, my_string = “hello”

In [ ]:
# Code for Q1 in this cell, below this line

2 Write the code to check the data type of each variable and print it out?

In [ ]:
# Code for Q2 in this cell, below this line

3 Create a second int variable called `my_second_number` and set the value to 7, add `my_number` to `my_second_number` and print the result?

In [ ]:
# Code for Q3 in this cell, below this line

4 Now try adding `my_number` to `my_float` - print the result and the data type in the next cell?

In [ ]:
# Code for Q4 in this cell, below this line

<div class="alert alert-block alert-info"> 
<b>Note:</b> Anytime you add an int to a float the answer is always a float. Now try and add my_number to my_string and see what happens? You should get an error, how can you add a word to a number? If you create a number as a sting you can join two strings together, this is called <b>concatenation</b>. 
</div>

5 Create two strings called `s1` assign it the value *hello* and `s2` assign that the value *world*, write the code to concatenate these stings together using the `+` operator and then print the result?

In [ ]:
# Code for Q5 in this cell, below this line

6 Add a space between the two strings so you can print `hello world` and not `helloworld`?

In [ ]:
# Code for Q6 in this cell, below this line

7 Add a space between the two strings so you can print `hello world` and not `helloworld`?

In [ ]:
# Code for Q7 in this cell, below this line

<div class="alert alert-block alert-info"> 
    <b>Note:</b> Adding a # to the start of a line makes it a <b>comment</b> and Pythoinn will not interpret that line, if you remove the # from the start of the line this is sometimes called uncommenting</div>

8 Make a new variable named `subject` and assign it the value of your first name, create a second variable called `object` assign it the value of the string ` loves eating cakes`, then concatenate (use the `+` sign) both variables together and print the result?

In [ ]:
# Code for Q8 in this cell, below this line

9 Adapt the following code that uses the input variable to create a small program that asks the user for their name and then returns the value `name` + `watches love island`?

In [ ]:
# use this to get started, uncomment the next line
# name = input()
# your code here

10 Create a new program with an input variable called `miles`, the program should ask the user to enter the distance in miles. Then multiply the value of the miles variable (using the * operator) by 1.60934. This calculation will give you the value in Kilometres, print the value in Kilometers back to the user the program should say. `The distance in miles was` and `The distance in Km is`?

In [ ]:
# Code for Q10 in this cell, below this line